openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Async
  description: Asynchronous process status operations
paths:
  /asyncStatus/{encoded-async-pid}:
    get:
      operationId: getAsyncStatus
      summary: Async Status
      description: 'Returns the status of the asynchronous process associated with the specified process ID. Used to poll for completion of asynchronous operations such as event creation.

        '
      tags:
      - Async
      parameters:
      - name: encoded-async-pid
        in: path
        required: true
        description: Base64-encoded asynchronous process identifier.
        schema:
          type: string
      responses:
        '200':
          description: 'Success; returns the status and status-specific data for the asynchronous file process, including a pre-signed download URL when the process has completed.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    AsyncStatusResponse:
      type: object
      description: Status response for an asynchronous process.
      properties:
        status:
          type: string
          description: Current status of the asynchronous process.
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - FAILED
        downloadUrl:
          type: string
          format: uri
          description: 'Pre-signed URL for downloading the result when the process has completed.

            '
        errorMessage:
          type: string
          description: Error message if the process failed.
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
