openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async Templates API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Templates
  description: Template management operations
paths:
  /chost/{customer-host-id}/templateType/{template-type-id}/apiSubcategories:
    get:
      operationId: getSubcategoriesByTemplateType
      summary: Subcategories by Template Type
      description: 'Retrieves available subcategories associated with the specified template type under the given customer host.

        '
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      - name: template-type-id
        in: path
        required: true
        description: Identifier for the template type.
        schema:
          type: integer
      responses:
        '200':
          description: Success; returns subcategories for the template type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubcategoriesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /chost/{customer-host-id}/user/{user-id}/apiTemplates:
    get:
      operationId: getTemplatesByUser
      summary: Templates by User
      description: 'Retrieves all templates accessible to the specified user under the given customer host.

        '
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Success; returns a list of templates for the user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /chost/{customer-host-id}/apiTemplateTypes:
    get:
      operationId: getTemplateTypes
      summary: Template Types
      description: 'Retrieves all available template types for the specified customer host.

        '
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      responses:
        '200':
          description: Success; returns a list of template types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateTypeListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    TemplateTypeListResponse:
      type: object
      description: List of template types.
      properties:
        templateTypes:
          type: array
          items:
            type: object
            properties:
              templateTypeId:
                type: integer
              templateTypeName:
                type: string
    TemplateListResponse:
      type: object
      description: List of templates available to a user.
      properties:
        templates:
          type: array
          items:
            type: object
            properties:
              templateId:
                type: integer
              templateName:
                type: string
              templateTypeId:
                type: integer
    SubcategoriesResponse:
      type: object
      description: List of subcategories for a template type.
      properties:
        subcategories:
          type: array
          items:
            type: object
            properties:
              subcategoryId:
                type: integer
              subcategoryName:
                type: string
  responses:
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
    NotFound:
      description: The requested resource was not found.
  parameters:
    customerHostId:
      name: customer-host-id
      in: path
      required: true
      description: Identifier for the customer host in the ASO platform.
      schema:
        type: integer
    userId:
      name: user-id
      in: path
      required: true
      description: Identifier for the user.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
