openapi: 3.2.0
info:
  title: Jaggaer Async API
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-refined-note:
  - x-api-id differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Async across 2 of this provider''s published API definitions: jaggaer-aso-ches-openapi.yml, jaggaer-aso-ees-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
- url: https://ees.aso-api.jaggaer.com
  description: JAGGAER ASO EES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Async
  description: Asynchronous process status operations
paths:
  /asyncStatus/{encoded-async-pid}:
    get:
      operationId: getAsyncStatus
      summary: Async Status
      description: 'Returns the status of the asynchronous process associated with the specified process ID. Used to poll for completion of asynchronous operations such as event creation.

        '
      tags:
      - Async
      parameters:
      - name: encoded-async-pid
        in: path
        required: true
        description: Base64-encoded asynchronous process identifier.
        schema:
          type: string
      responses:
        '200':
          description: 'Success; returns the status and status-specific data for the asynchronous file process, including a pre-signed download URL when the process has completed.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    servers:
    - url: https://ches.aso-api.jaggaer.com
      description: JAGGAER ASO CHES Production Server
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
  schemas:
    AsyncStatusResponse:
      type: object
      description: Status response for an asynchronous process.
      properties:
        status:
          type: string
          description: Current status of the asynchronous process.
          enum:
          - PENDING
          - IN_PROGRESS
          - COMPLETED
          - FAILED
        downloadUrl:
          type: string
          format: uri
          description: 'Pre-signed URL for downloading the result when the process has completed.

            '
        errorMessage:
          type: string
          description: Error message if the process failed.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
x-refined-from:
- jaggaer-aso-ches-openapi.yml
- jaggaer-aso-ees-openapi.yml
