openapi: 3.2.0
info:
  title: JAGGAER ASO Event Entity Service Uploads API
  description: 'The Event Entity Service (EES) API provides REST endpoints for managing sourcing events within the JAGGAER Advanced Sourcing Optimizer, including event attributes, bids, contacts, items, rates, scenarios, and suppliers. It supports asynchronous operations for retrieving large datasets such as bid submissions and award results, with pre-signed download URLs for completed asynchronous processes. Authentication requires both OAuth 2.0 bearer tokens and API key headers.

    '
  version: v26.1.0.9
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ees
servers:
- url: https://ees.aso-api.jaggaer.com
  description: JAGGAER ASO EES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Uploads
  description: Entity upload URL generation
paths:
  /event/{event-id}/user/{user-id}/entity/{entity}/uploadUrl:
    get:
      operationId: getUploadUrl
      summary: Upload Entity URL
      description: 'Retrieves a pre-signed upload URL for the specified entity type, enabling upload of data files to the ASO platform for the given event and user.

        '
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/eventId'
      - $ref: '#/components/parameters/userId'
      - name: entity
        in: path
        required: true
        description: The entity type for which an upload URL is requested.
        schema:
          type: string
      responses:
        '200':
          description: Success; returns a pre-signed upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
  schemas:
    UploadUrlResponse:
      type: object
      description: Pre-signed upload URL response.
      properties:
        uploadUrl:
          type: string
          format: uri
          description: Pre-signed URL for uploading entity data.
        expiresAt:
          type: string
          format: date-time
          description: Expiration time for the pre-signed URL.
  parameters:
    eventId:
      name: event-id
      in: path
      required: true
      description: Identifier for the sourcing event.
      schema:
        type: integer
    userId:
      name: user-id
      in: path
      required: true
      description: Identifier for the user.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
