openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async Users API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Users
  description: User administration operations
paths:
  /chost/{customer-host-id}/apiUser/{user-id}:
    get:
      operationId: getUser
      summary: User
      description: 'Retrieves details of the specified user under the given customer host.

        '
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      - $ref: '#/components/parameters/userId'
      responses:
        '200':
          description: Success; returns user details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /chost/{customer-host-id}/apiUsers:
    get:
      operationId: getUsers
      summary: Users
      description: 'Retrieves all users associated with the specified customer host.

        '
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      responses:
        '200':
          description: Success; returns a list of users for the customer host.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    UserListResponse:
      type: object
      description: List of users for a customer host.
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/UserResponse'
    UserResponse:
      type: object
      description: User details.
      properties:
        userId:
          type: integer
          description: Unique identifier for the user.
        username:
          type: string
          description: Username for the user.
        email:
          type: string
          format: email
          description: Email address of the user.
  responses:
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
    NotFound:
      description: The requested resource was not found.
  parameters:
    customerHostId:
      name: customer-host-id
      in: path
      required: true
      description: Identifier for the customer host in the ASO platform.
      schema:
        type: integer
    userId:
      name: user-id
      in: path
      required: true
      description: Identifier for the user.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
