openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async Rates API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Rates
  description: Event rate retrieval
paths:
  /event/{event-id}/apiRate/{rate-id}:
    get:
      operationId: getRate
      summary: Rate
      description: Retrieves a specific rate for the given sourcing event.
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/eventId'
      - name: rate-id
        in: path
        required: true
        description: Identifier for the rate.
        schema:
          type: integer
      responses:
        '200':
          description: Success; returns rate details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event/{event-id}/apiRates/async:
    get:
      operationId: getRatesAsync
      summary: Rates (Asynchronous)
      description: 'Initiates an asynchronous retrieval of all rates for the given event. Returns a process ID for polling via /asyncStatus/{encoded-async-pid}.

        '
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/eventId'
      responses:
        '202':
          description: Accepted; returns process ID for async polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    RateResponse:
      type: object
      description: Sourcing event rate details.
      properties:
        rateId:
          type: integer
          description: Unique identifier for the rate.
        rateName:
          type: string
          description: Name of the rate.
        locationName:
          type: string
          description: Location associated with the rate.
        value:
          type: number
          description: Rate value.
    AsyncAcceptedResponse:
      type: object
      description: Response returned when an asynchronous operation is accepted.
      properties:
        encodedAsyncPid:
          type: string
          description: Base64-encoded process ID used to poll for status.
  parameters:
    eventId:
      name: event-id
      in: path
      required: true
      description: Identifier for the sourcing event.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
    NotFound:
      description: The requested resource was not found.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
