openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async Uploads API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Uploads
  description: Entity upload URL generation
paths:
  /event/{event-id}/user/{user-id}/entity/{entity}/uploadUrl:
    get:
      operationId: getUploadUrl
      summary: Upload Entity URL
      description: 'Retrieves a pre-signed upload URL for the specified entity type, enabling upload of data files to the ASO platform for the given event and user.

        '
      tags:
      - Uploads
      parameters:
      - $ref: '#/components/parameters/eventId'
      - $ref: '#/components/parameters/userId'
      - name: entity
        in: path
        required: true
        description: The entity type for which an upload URL is requested.
        schema:
          type: string
      responses:
        '200':
          description: Success; returns a pre-signed upload URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrlResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    UploadUrlResponse:
      type: object
      description: Pre-signed upload URL response.
      properties:
        uploadUrl:
          type: string
          format: uri
          description: Pre-signed URL for uploading entity data.
        expiresAt:
          type: string
          format: date-time
          description: Expiration time for the pre-signed URL.
  parameters:
    eventId:
      name: event-id
      in: path
      required: true
      description: Identifier for the sourcing event.
      schema:
        type: integer
    userId:
      name: user-id
      in: path
      required: true
      description: Identifier for the user.
      schema:
        type: integer
  responses:
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
    NotFound:
      description: The requested resource was not found.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
