openapi: 3.0.3
info:
  title: JAGGAER ASO Customer Host Entity Service Async Locations API
  description: 'The Customer Host Entity Service (CHES) API provides system-to-system REST endpoints for managing customer hosts, users, events, and templates within the JAGGAER Advanced Sourcing Optimizer (ASO) platform. It enables creation and retrieval of sourcing events, template management, user administration, and location-based rate structure queries using OAuth 2.0 bearer tokens combined with API key authentication.

    '
  version: v26.0.0.4
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ches
servers:
- url: https://ches.aso-api.jaggaer.com
  description: JAGGAER ASO CHES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Locations
  description: Location and rate structure operations
paths:
  /chost/{customer-host-id}/apiLocationNames:
    get:
      operationId: getLocationNames
      summary: Rate Location Names
      description: 'Retrieves location names used in rate structures for the specified customer host.

        '
      tags:
      - Locations
      parameters:
      - $ref: '#/components/parameters/customerHostId'
      responses:
        '200':
          description: Success; returns the list of rate location names.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocationNamesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    LocationNamesResponse:
      type: object
      description: List of rate location names.
      properties:
        locationNames:
          type: array
          items:
            type: string
  responses:
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
    NotFound:
      description: The requested resource was not found.
  parameters:
    customerHostId:
      name: customer-host-id
      in: path
      required: true
      description: Identifier for the customer host in the ASO platform.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
