openapi: 3.2.0
info:
  title: JAGGAER ASO Event Entity Service Awards API
  description: 'The Event Entity Service (EES) API provides REST endpoints for managing sourcing events within the JAGGAER Advanced Sourcing Optimizer, including event attributes, bids, contacts, items, rates, scenarios, and suppliers. It supports asynchronous operations for retrieving large datasets such as bid submissions and award results, with pre-signed download URLs for completed asynchronous processes. Authentication requires both OAuth 2.0 bearer tokens and API key headers.

    '
  version: v26.1.0.9
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ees
servers:
- url: https://ees.aso-api.jaggaer.com
  description: JAGGAER ASO EES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Awards
  description: Award scenario retrieval
paths:
  /event/{event-id}/scenario/preferred/apiAwards/async:
    get:
      operationId: getAwardsByPreferredScenarioAsync
      summary: Awards by Preferred Scenario (Asynchronous)
      description: 'Initiates an asynchronous retrieval of awards for the preferred scenario of the given event. Returns a process ID for polling via /asyncStatus/{encoded-async-pid}.

        '
      tags:
      - Awards
      parameters:
      - $ref: '#/components/parameters/eventId'
      responses:
        '202':
          description: Accepted; returns process ID for async polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event/{event-id}/scenario/{scenario-id}/apiAwards/async:
    get:
      operationId: getAwardsByScenarioAsync
      summary: Awards by Scenario (Asynchronous)
      description: 'Initiates an asynchronous retrieval of awards for the specified scenario of the given event. Returns a process ID for polling via /asyncStatus/{encoded-async-pid}.

        '
      tags:
      - Awards
      parameters:
      - $ref: '#/components/parameters/eventId'
      - name: scenario-id
        in: path
        required: true
        description: Identifier for the award scenario.
        schema:
          type: integer
      responses:
        '202':
          description: Accepted; returns process ID for async polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
  schemas:
    AsyncAcceptedResponse:
      type: object
      description: Response returned when an asynchronous operation is accepted.
      properties:
        encodedAsyncPid:
          type: string
          description: Base64-encoded process ID used to poll for status.
  parameters:
    eventId:
      name: event-id
      in: path
      required: true
      description: Identifier for the sourcing event.
      schema:
        type: integer
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
