openapi: 3.2.0
info:
  title: JAGGAER ASO Event Entity Service Rates API
  description: 'The Event Entity Service (EES) API provides REST endpoints for managing sourcing events within the JAGGAER Advanced Sourcing Optimizer, including event attributes, bids, contacts, items, rates, scenarios, and suppliers. It supports asynchronous operations for retrieving large datasets such as bid submissions and award results, with pre-signed download URLs for completed asynchronous processes. Authentication requires both OAuth 2.0 bearer tokens and API key headers.

    '
  version: v26.1.0.9
  contact:
    name: JAGGAER Support
    url: https://www.jaggaer.com/support
  x-api-id: jaggaer-aso-ees
servers:
- url: https://ees.aso-api.jaggaer.com
  description: JAGGAER ASO EES Production Server
security:
- bearerAuth: []
  apiKeyHeader: []
tags:
- name: Rates
  description: Event rate retrieval
paths:
  /event/{event-id}/apiRate/{rate-id}:
    get:
      operationId: getRate
      summary: Rate
      description: Retrieves a specific rate for the given sourcing event.
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/eventId'
      - name: rate-id
        in: path
        required: true
        description: Identifier for the rate.
        schema:
          type: integer
      responses:
        '200':
          description: Success; returns rate details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /event/{event-id}/apiRates/async:
    get:
      operationId: getRatesAsync
      summary: Rates (Asynchronous)
      description: 'Initiates an asynchronous retrieval of all rates for the given event. Returns a process ID for polling via /asyncStatus/{encoded-async-pid}.

        '
      tags:
      - Rates
      parameters:
      - $ref: '#/components/parameters/eventId'
      responses:
        '202':
          description: Accepted; returns process ID for async polling.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsyncAcceptedResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  responses:
    NotFound:
      description: The requested resource was not found.
    Unauthorized:
      description: 'Authentication failed. Ensure a valid OAuth 2.0 bearer token and API key are provided.

        '
  parameters:
    eventId:
      name: event-id
      in: path
      required: true
      description: Identifier for the sourcing event.
      schema:
        type: integer
  schemas:
    RateResponse:
      type: object
      description: Sourcing event rate details.
      properties:
        rateId:
          type: integer
          description: Unique identifier for the rate.
        rateName:
          type: string
          description: Name of the rate.
        locationName:
          type: string
          description: Location associated with the rate.
        value:
          type: number
          description: Rate value.
    AsyncAcceptedResponse:
      type: object
      description: Response returned when an asynchronous operation is accepted.
      properties:
        encodedAsyncPid:
          type: string
          description: Base64-encoded process ID used to poll for status.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token for authentication.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key passed as a request header.
